/**
 * @package     JKit
 * @subpackage  com_jkit
 * @copyright   Copyright (C) 2013 - 2014 CloudHotelier. All rights reserved.
 * @license     GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 * @link        http://www.cloudjkitier.com
 * @author      Xavier Pallicer <xpallicer@gmail.com>
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jkit-cycle2-slider {
  background: #DDD;
  overflow: hidden;
  position: relative;
}
.jkit-cycle2-slider .cycle-prev,
.jkit-cycle2-slider .cycle-next {
  position: absolute;
  top: 0;
  width: 90px;
  z-index: 800;
  height: 100%;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.jkit-cycle2-slider .cycle-prev {
  left: 0;
  background: url(img/slider-left.png) 50% 50% no-repeat;
}
.jkit-cycle2-slider .cycle-next {
  right: 0;
  background: url(img/slider-right.png) 50% 50% no-repeat;
}
.jkit-cycle2-slider .cycle-prev:hover,
.jkit-cycle2-slider .cycle-next:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.jkit-cycle2-slider .cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 801;
  position: absolute;
  overflow: hidden;
  bottom: 10px;
  font-size: 10px;
}
.jkit-cycle2-slider .cycle-pager span {
  margin: 0 3px;
  width: 10px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.jkit-cycle2-slider .cycle-pager span.cycle-pager-active {
  color: #ffffff;
  background: #ffffff;
}
.jkit-overlay {
  position: relative;
}
.jkit-overlay,
.jkit-overlay-bg,
.jkit-overlay-top,
.jkit-overlay-top a {
  display: block;
  width: 100%;
  height: 107px;
  line-height: 107px;
}
.jkit-overlay-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.jkit-overlay-top {
  position: absolute;
  text-align: center;
  top: 0;
  display: none;
}
.jkit-overlay-top a {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-size: 18px;
}
.jkit-overlay-top a:hover {
  text-decoration: none;
  color: #ffffff;
}
.jkit-gallery-filter {
  display: block;
  margin: 0 0 30px 0;
}
.jkit-gallery-images {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.jkit-gallery-images .jkit-gallery-image {
  position: relative;
  width: 220px;
  float: left;
  margin: 0 0 30px 20px;
  overflow: hidden;
}
.jkit-gallery-images .jkit-gallery-image .jkit-gallery-img {
  position: relative;
  overflow: hidden;
}
.jkit-gallery-images .jkit-gallery-image .jkit-overlay,
.jkit-gallery-images .jkit-gallery-image .jkit-overlay-bg,
.jkit-gallery-images .jkit-gallery-image .jkit-overlay-top,
.jkit-gallery-images .jkit-gallery-image .jkit-overlay-top a {
  height: 147px;
  line-height: 147px;
}
.jkit-gallery-images .jkit-gallery-text {
  overflow: hidden;
  padding: 5px;
  background: #eeeeee;
}
.jkit-gallery-images .jkit-gallery-text .jkit-gallery-text-title {
  display: block;
  margin: 5px 0;
}
@media (min-width: 1200px) {
  .jkit-gallery-images .jkit-gallery-image {
    margin: 0 0 30px 30px;
    width: 270px;
  }
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-bg,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top a {
    height: 180px;
    line-height: 180px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .jkit-gallery-images {
    margin-left: -14px;
  }
  .jkit-gallery-images .jkit-gallery-image {
    margin: 0 0 20px 14px;
    width: 170px;
  }
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-bg,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top a {
    height: 110px;
    line-height: 110px;
  }
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top {
    display: block;
  }
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top a {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 767px) {
  .jkit-gallery-images {
    margin-left: -15px;
  }
  .jkit-gallery-images .jkit-gallery-image {
    margin: 0 0 20px 15px;
    width: 166px;
  }
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-bg,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top a {
    height: 110px;
    line-height: 110px;
  }
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top {
    display: block;
  }
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top a {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .jkit-gallery-filter .btn-group .btn {
    display: block;
    float: left;
    text-align: left;
    margin: 4px;
  }
}
@media (max-width: 480px) {
  .jkit-gallery-images {
    margin-left: -10px;
  }
  .jkit-gallery-images .jkit-gallery-image {
    margin: 0 0 20px 10px;
    width: 135px;
  }
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-bg,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top,
  .jkit-gallery-images .jkit-gallery-image .jkit-overlay-top a {
    height: 100px;
    line-height: 100px;
  }
}
