/**
 * @package     JKit
 * @subpackage  com_jkit
 * @copyright   Copyright (C) 2013 - 2014 CloudHotelier. All rights reserved.
 * @license     GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 * @link        http://www.cloudjkitier.com
 * @author      Xavier Pallicer <xpallicer@gmail.com>
 */

// JKit Styles
// --------------------------------------------------

// bootstrap mixins and vars
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";


// Cycle2 Sliders
// -------------------------

// cycle vars
@cycle-pager-color: #FFF;
@cycle-pager-size: 10px;

.jkit-cycle2-slider{

    background: #DDD;
    overflow: hidden;
    position: relative;

    .cycle-prev,
    .cycle-next{
        position: absolute;
        top: 0;
        width: 90px;
        z-index: 800;
        height: 100%;
        cursor: pointer;
        .opacity(40);
        .transition(all 0.5s ease);
    }

    .cycle-prev{
        left: 0;
        background: url(img/slider-left.png) 50% 50% no-repeat;
    }

    .cycle-next{
        right: 0;
        background: url(img/slider-right.png) 50% 50% no-repeat;
    }

    .cycle-prev:hover,
        .cycle-next:hover{
        .opacity(90);
    }

    .cycle-pager {

        text-align: center;
        width: 100%;
        z-index: 801;
        position: absolute;
        overflow: hidden;
        bottom: @cycle-pager-size;
        font-size: @cycle-pager-size;

        span {
            margin: 0 3px;
            width: @cycle-pager-size;
            height: @cycle-pager-size;
            display: inline-block;
            cursor: pointer;
            color: @cycle-pager-color;
            border: 1px solid @cycle-pager-color;
            .border-radius(@cycle-pager-size);
            .opacity(90);
        }

        span.cycle-pager-active {
            color: @cycle-pager-color;
            background: @cycle-pager-color;
        }
    }
}


// Overlay
// -------------------------

@overlay-bgcolor: #000; 
@overlay-bgopacity: 0.40; 
@overlay-bgopacity-tablet: 0.20; 
@overlay-color: #FFF; 

.jkit-overlay{
    position: relative;
}

.jkit-overlay,
.jkit-overlay-bg,
.jkit-overlay-top,
.jkit-overlay-top a{
    display: block;
    width: 100%;
    height: 107px;
    line-height: 107px;
}

.jkit-overlay-bg{ 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.jkit-overlay-top{

    position: absolute;
    text-align: center;
    top: 0;
    display: none;

    a{
        background-color: hsla(hue(@overlay-bgcolor), saturation(@overlay-bgcolor), lightness(@overlay-bgcolor), @overlay-bgopacity);
        color: @overlay-color;
        font-size: 18px;
    }

    a:hover{
        text-decoration: none;
        color: @overlay-color;
    }
}


// Gallery
// -------------------------

@jkit-gallery-text-bg: #EEE;

.jkit-gallery-filter {
    display: block;
    margin: 0 0 30px 0;
}

.jkit-gallery-images{

    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    .jkit-gallery-image{

        position: relative;
        width: 220px;
        float: left;
        margin: 0 0 30px 20px;
        overflow: hidden;

        .jkit-gallery-img{	
            position: relative;
            overflow: hidden;
        }

        .jkit-overlay,
        .jkit-overlay-bg,
        .jkit-overlay-top,
        .jkit-overlay-top a{
            height: 147px;
            line-height: 147px;
        }
    }

    .jkit-gallery-text{
        overflow: hidden;
        padding: 5px;
        background: @jkit-gallery-text-bg;
        .jkit-gallery-text-title{
            display: block;
            margin: 5px 0;
        }
    }
}


// Media Queries
// -------------------------

@media (min-width: 1200px) {

    // gallery
    .jkit-gallery-images{
        .jkit-gallery-image{
            margin: 0 0 30px 30px;
            width: 270px;
            .jkit-overlay,
            .jkit-overlay-bg,
            .jkit-overlay-top,
            .jkit-overlay-top a{
                height: 180px;
                line-height: 180px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    // gallery
    .jkit-gallery-images{
        margin-left: -14px;
        .jkit-gallery-image{
            margin: 0 0 20px 14px;
            width: 170px;
            .jkit-overlay,
            .jkit-overlay-bg,
            .jkit-overlay-top,
            .jkit-overlay-top a{
                height: 110px;
                line-height: 110px;
            }
            .jkit-overlay-top{
                display: block;
            }
            .jkit-overlay-top a{
                background-color: hsla(hue(@overlay-bgcolor), saturation(@overlay-bgcolor), lightness(@overlay-bgcolor), @overlay-bgopacity-tablet);
            }
        }
    }
}

@media (max-width: 767px) {
    // gallery
    .jkit-gallery-images{
        margin-left: -15px;
        .jkit-gallery-image{
            margin: 0 0 20px 15px;
            width: 166px;
            .jkit-overlay,
            .jkit-overlay-bg,
            .jkit-overlay-top,
            .jkit-overlay-top a{
                height: 110px;
                line-height: 110px;
            }
            .jkit-overlay-top{
                display: block;
            }
            .jkit-overlay-top a{
                background-color: hsla(hue(@overlay-bgcolor), saturation(@overlay-bgcolor), lightness(@overlay-bgcolor), @overlay-bgopacity-tablet);
            }
        }
    }
    .jkit-gallery-filter .btn-group .btn{
        display: block;
        float: left;
        text-align: left;
        margin: 4px;
    }
}

@media (max-width: 480px) {

    // gallery
    .jkit-gallery-images{
        margin-left: -10px;
        .jkit-gallery-image{
            margin: 0 0 20px 10px;
            width: 135px;
            .jkit-overlay,
            .jkit-overlay-bg,
            .jkit-overlay-top,
            .jkit-overlay-top a{
                height: 100px;
                line-height: 100px;
            }
        }
    }
}

