/**
 * @package     JKit
 * @subpackage  com_jkit
 * @copyright   Copyright (C) 2013 - 2014 CloudHotelier. All rights reserved.
 * @license     GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 * @link        http://www.cloudhotelier.com
 * @author      Xavier Pallicer <xpallicer@gmail.com>
 */

/* icons */
.icon-item:before,
.icon-items:before,
.icon-panel:before{
    content: "\34";
}
.icon-types:before,
.icon-type:before{
    content:"\3a";
}

/* panel */
.jkit-panel .btn{
    margin-top: 10px;
}

/* gallery button */
.jkit-item-gallery.gallery-1 i{
    color: #008E00;
}
span.images{
    display: inline-block;
    margin: 0;
    width: 16px;
    height: 15px;
    background: transparent url(images.png) 0 -2px no-repeat !important;
}
span.images.count-0{
    background-image: url(images0.png)!important;
}

/* translation states */
a.translation-original,
a.translation-missing,
a.translation-ok,
a.translation-check{
    min-width: 38px;
}
a.translation-original{
    color: #AAA!important;
    cursor: default;
}
a.translation-original:hover{
    text-decoration: none;
}
.translation-missing,
a.translation-missing{
    color: #777!important;
}
.translation-ok,
a.translation-ok{
    color: #008E00!important;
}
.translation-check,
a.translation-check{
    color: #E49515!important;
}

/* info field */
#jform_info,
#jform_params_data{
    height: 100px;
}

/* thumbs in list */
.jkit-images-thumb{
    width: 54px;
    padding: 2px !important;
}

/* editor */
.jkit-editor{
    width: 800px;
    margin: 5px 0;
}
.jkit-translation-editor textarea{
    width: 800px;
    height: 100px;
}

/* transte view */
.jkit-translate-image-info{
    margin-top: -10px;
}



/* tagsinput */

#adminForm .dropdown-menu > .active > a, 
#adminForm .dropdown-menu > .active > a:hover, 
#adminForm .dropdown-menu > .active > a:focus{
    color: #FFF;
}

#adminForm .bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    min-width: 206px; 
}
#adminForm .bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit;
}
#adminForm .bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}
#adminForm .bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}
#adminForm .bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
#adminForm .bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
#adminForm .bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#adminForm .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}




